<div align="center">
  <h2>Signup!</h2>
  <% if flash[:alert] %>
    Alert:<%= flash[:alert] %>
  <% end %>
  <form action='/signup' method='post'>
    <input type='text' name='username' placeholder='Username'><br>
    <input type='password' name='password' placeholder='Password'><br />
    <input type='password' name='password_conf' placeholder='Verify password'><br />
    <input type='submit' value='Submit'>
  </form>
</div>
